<body height="100%" width="100%" style="border:none; margin:0; padding:0; height:100%; width:100%;">
  <table cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#ffffff" style="background:#ffffff; border:none; margin:0; padding:0; height:100%; width:100%;">
    <tr>
      <!-- Body Wrapper -->
      <td width="100%" height="100%" valign="top" style="background:#ffffff; border:none; border-top:6px solid #058F6D; margin:0; padding:0; padding-left:20px; padding-right:20px; text-align:center; height:100%; width:100%;">
        <center>
          <!-- Content Wrapper -->
          <table cellpadding="0" cellspacing="0" width="700" style="border:none; margin:0; padding:0; text-align:left; width:700px;">
            <tr>
              <td>
                <!-- Header -->
                <table cellpadding="0" cellspacing="0" height="103" width="100%" style="border:none; margin:0; padding:0; height:103px; width:100%;">
                  <tr>
                    <td height="103" width="466" style="margin:0; padding:0; height:103px; width:466px;">
                      <a href="http://www.fujifilmusa.com/" style="border:none; outline:none; text-decoration:none;">
                      <img src="http://d191pq10p2mccv.cloudfront.net/rel-1369075776/system/images/2773/original/fuji_email_header_pt1.jpeg" height="103" width="466" style="display:block; border:none; outline:none; text-decoration:none; margin:0; padding:0; height:103px; width:466px;" alt="FujiFilm.com" />
                      </a>
                    </td>
                    <td height="103" width="103" style="margin:0; padding:0; height:103px; width:103px;">
                      <a href="http://www.fujifilmusa.com/support/" style="border:none; outline:none; text-decoration:none;">
                      <img src="http://d27js68pcj6627.cloudfront.net/rel-1369075800/system/images/2774/original/fuji_email_header_pt2.jpeg" height="103" width="103" style="display:block; border:none; outline:none; text-decoration:none; margin:0; padding:0; height:103px; width:103px;" alt="Support" />
                      </a>
                    </td>
                    <td height="103" width="131" style="margin:0; padding:0; height:103px; width:131px;">
                      <a href="http://www.fujifilmusa.com/support/ServiceSupportContactInfo.do?catid=464128&prodcat=233844" style="border:none; outline:none; text-decoration:none;">
                      <img src="http://d27js68pcj6627.cloudfront.net/rel-1369075819/system/images/2775/original/fuji_email_header_pt3.jpeg" height="103" width="131" style="display:block; border:none; outline:none; text-decoration:none; margin:0; padding:0; height:103px; width:131px;" alt="Contact Us" />
                      </a>
                    </td>
                  </tr>
                </table>
                <!-- End Header -->
                <!-- Content Body -->
                <table cellpadding="0" cellspacing="0" width="100%" style="border:none; margin-top:0; margin-right:0; margin-left:0; margin-bottom:0; padding:0; width:100%;">
                  <!-- Content Head -->
                  <tr>
                    <td colspan="3" height="69" width="700" style="margin-top:0; margin-right:0; margin-left:0; margin-bottom:0; padding:0; width:700px; height:69px;">
                      <img src="http://d27js68pcj6627.cloudfront.net/rel-1369078957/system/images/2776/original/fuji_email_content_head.png" height="69" width="700" style="display:block; border:none; outline:none; text-decoration:none; margin-top:0; margin-right:0; margin-left:0; margin-bottom:0; padding:0; height:69px; width:700px;" alt="" />
                    </td>
                  </tr>
                  <!-- End Content Head -->
                  <!-- Content Body -->
                  <tr>
                    <!-- Left Content Border -->
                    <td bgcolor="#e7e7e7" valign="top" style="background:#e7e7e7; border:none; margin-top:0; margin-right:0; margin-left:0; margin-bottom:0; padding:0;">
                      <img src="http://d191pq10p2mccv.cloudfront.net/rel-1369083610/system/images/2779/original/email_content_left_border.png" height="370" width="16" style="display:block; border:none; outline:none; text-decoration:none; margin-top:0; margin-right:0; margin-left:0; margin-bottom:0; padding:0; height:370px; width:16px;" alt="" />
                    </td>
                    <!-- Content -->
                    <td align="left" valign="top">
                      <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                          <td style="padding:20px; padding-top:0; padding-bottom:0;">
                            <br />
                            <table cellpadding="0" cellspacing="0" width="100%" valign="top" style="border:none; margin:0; padding:0; width:100%;">
                              <tr>
                                <td valign="top" style="margin:0; padding:0;">
                                  <img src="http://d27js68pcj6627.cloudfront.net/rel-1367956100/system/images/2753/original/pictsleft.jpg" height="185" width="250" style="float:left; height:185px; width:250px" alt="" />
                                </td>
                                <td width="372" valign="top" style="width:372px; margin:0; padding:0;">
                                  <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:22px; line-height:26px; color:#333; float:right; margin:0; padding:0; width:372px;">Thank you {{user.first_name}} for registering<br />your Fujifilm product.</span><br />
                                  <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#333; float:right; margin:0; padding:0; width:372px;">
                                  <br />
                                  You&#39;re one of our most valued customers, and we want to make sure that your ownership experience is always exceptional.  
                                  Here&#39;s some helpful information to make sure you get the most out of your new Fujifilm product.
                                  </span>
                                  <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#333; float:right; margin:0; padding:0; width:372px;">
                                  <br /><br />
                                  Your registration details:<br />
                                  Product: {{registration.product.name}}<br />
                                  Serial Number: {{registration.serial_number}}<br />
                                  Purchased: {{registration.purchase_date}}<br />
                                  {% if user.company %}
                                  Company Name: {{ user.company }}<br />
                                  {% endif %}
                                  Name: {{user.first_name}} {{user.last_name}}<br />
                                  Address: {{user.addresses.first.address1}} {{user.addresses.first.address2}} {{user.addresses.first.city}} {{user.addresses.first.state}} {{user.addresses.first.zip}}<br />
                                  Email: {{user.email}}<br />
                                  Phone: {{user.phone}}<br />
                                  </span>
                                </td>
                              </tr>
                            </table>
                            <br />
                            <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:18px; color:#333; margin:0; padding:0;">Operating Your New Product</span><br />
                            <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#333; margin:0; padding:0;">
                            Most questions about setting up and operating your product should be answered in the owner&#39;s manual.  <a href="http://www.fujifilmusa.com/support/ServiceSupportContactInfo.do?catid=464128&prodcat=234644" style="color:#33669a">Click here</a> to download your owner&#39;s manual or update your camera&#39;s drivers and software.
                            </span>
                            <br />
                            <br />
                            <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:18px; color:#333; margin:0; padding:0;">Pro Rental Service</span><br />
                            <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#333; margin:0; padding:0;">Experience the quality and craftsmanship of our premium X-Series lineup. <a href="http://www.fujifilmusa.com/products/digital_cameras/pro_rental/index.html" style="color:#33669a">Learn More.</a>
                            </span>
                            <br />
                            <br />
                            <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:18px; color:#333; margin:0; padding:0;">Fujifilm Educational Program</span><br />
                            <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#333; margin:0; padding:0;">The <a href="http://fnacaffiliate.com/educationprogram/" style="color:#33669a">Fujifilm Education Program</a> is open to all students enrolled full time in an accredited college or university in the United States.
                            </span>                                                        
                            <br />
                            <br />
                            <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:18px; color:#333; margin:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; padding:0;">Contact Us</span><br />
                            <span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#333; margin:0; padding:0;">For support with your Fujifilm digital camera, please call 1-800-800-3854 option #1 (Tech Support) or option #2 (Camera Repair). Mon-Fri from 9 am EST- 8 pm EST. This includes Saturday &amp; Sunday from 10 am EST - 6 pm EST.
                            </span>
                            <br />
                            <br />
                          </td>                          
                        </tr>
                        <!-- Social Icons -->
                        <tr>
                          <td align="center" valign="top" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.65; color: #222222; font-weight: bold; text-align: center; background-color: #ffffff; padding: 30px 0 0 0;">
                            Connect with Fujifilm Online
                          </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.65; color: #222222; text-align: center; background-color: #ffffff; padding: 10px 0 0 0;">
                            X Series Camera
                          </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top" style="background-color: #ffffff;">
                            <table cellpadding="0" cellspacing="0" border="0" width="160">
                              <tr>
                                <td align="center" valign="top" width="40" height="30"><a href="https://www.facebook.com/FujifilmXUS" target="_blank" ><img src="https://d191pq10p2mccv.cloudfront.net/system/images/4219/original/ICON_facebook.jpg?1457462880" alt="Facebook" width="30" height="30" border="0" style="display: block;" /></td>
                                <td align="center" valign="top" width="40" height="30"><a href="https://twitter.com/FujifilmX_US" target="_blank" ><img src="https://d191pq10p2mccv.cloudfront.net/system/images/4220/original/ICON_twitter.jpg?1457462903" alt="Twitter" width="30" height="30" border="0" style="display: block;" /></td>
                                <td align="center" valign="top" width="40" height="30"><a href="https://www.instagram.com/fujifilmx_us/" target="_blank" ><img src="https://d27js68pcj6627.cloudfront.net/system/images/4221/original/ICON_instagram.jpg?1457462920" alt="Instagram" width="30" height="30" border="0" style="display: block;" /></td>
                                <td align="center" valign="top" width="40" height="30"><a href="https://www.youtube.com/user/fujiguys" target="_blank" ><img src="https://d27js68pcj6627.cloudfront.net/system/images/4222/original/ICON_youtube.jpg?1457462936" alt="YouTube" width="30" height="30" border="0" style="display: block;" /></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.65; color: #222222; text-align: center; background-color: #ffffff; padding: 10px 0 0 0;">
                            Corporate pages
                          </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top" style="background-color: #ffffff; padding: 0 0 20px 0;">
                            <table cellpadding="0" cellspacing="0" border="0" width="80">
                              <tr>
                                <td align="center" valign="top" width="40" height="30"><a href="https://www.facebook.com/fujifilmcameras" target="_blank" ><img src="https://d191pq10p2mccv.cloudfront.net/system/images/4219/original/ICON_facebook.jpg?1457462880" alt="Facebook" width="30" height="30" border="0" style="display: block;" /></td>
                                <td align="center" valign="top" width="40" height="30"><a href="https://twitter.com/FujifilmUS" target="_blank" ><img src="https://d191pq10p2mccv.cloudfront.net/system/images/4220/original/ICON_twitter.jpg?1457462903" alt="Twitter" width="30" height="30" border="0" style="display: block;" /></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <!-- End Social Icons -->                        
                      </table>
                    </td>
                    <!-- End Content -->
                    <!-- Right Content Border -->
                    <td bgcolor="#e7e7e7" valign="top" style="background:#e7e7e7; border:none; margin-top:0; margin-right:0; margin-left:0; margin-bottom:0; padding:0;">
                      <img src="http://d191pq10p2mccv.cloudfront.net/rel-1369083479/system/images/2777/original/email_content_right_border.png" height="370" width="19" style="display:block; border:none; outline:none; text-decoration:none; margin-top:0; margin-right:0; margin-left:0; margin-bottom:0; padding:0; height:370px; width:19px;" alt="" />
                    </td>
                  </tr>
                  <!-- End Content Body -->
                  <!-- Content Foot -->
                  <tr>
                    <td colspan="3">
                      <img src="http://d191pq10p2mccv.cloudfront.net/rel-1369080251/system/images/2778/original/fuji_email_content_foot.png" height="25" width="700" style="display:block; border:none; outline:none; text-decoration:none; margin:0; padding:0; height:25px; width:700px;" alt="" />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" style="padding-left:20px;">
                      <br />
                      <!--<span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#333; line-height:12px; margin:0; padding:0;">
                        <span style="color:#33669a">Fuji Film USA</span> Acct #60203722 <br />
                          419 West Avenue<br />
                          Stamford, CT 06902<br />
                          (800) 431-1850 or (203) 324-2000<br />
                        <br />
                          <br />
                        </span>-->
                    </td>
                  </tr>
                  <!-- End Content Foot -->
                </table>
                <!-- End Content Body -->
              </td>
            </tr>
          </table>
          <!-- End Content Wrapper -->
        </center>
      </td>
    </tr>
  </table>
  <!-- End Body Wrapper -->
</body>